*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', system-ui, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', system-ui, sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
